<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.kid-speaker.mateutek.usermd.net"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//stats6.mydevil.net/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 159]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//stats6.mydevil.net/piwik.php?idsite=159" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</head>
<body ng-app="speech">

    <div class="container" ng-controller="MainCtrl">
        <div class="main">
            <h1>{{retypeText}}</h1>
            <div class="input-container">
                <input type="text" ng-model="text" class="text" ng-keyup="$event.keyCode == 13 && speak()">
                <a href="#" ng-click="speak()" class="play__btn"><i class="fa fa-play-circle"></i></a>
            </div>
        </div>
        <div class="letters">
            <ul class="inline__list letters__list">
                <li class="inline__list--item letter" ng-repeat="letter in lettersList" ng-click="selectLetter($index)" ng-class="{'active':$index==selectedLetter}">
                   {{letter}} {{letter|uppercase}}
                </li>
            </ul>
        </div>
        <div class="iconography">
            <ul class="inline__list icons__list">
                <li class="inline__list--item  icon" ng-repeat="icon in iconList" ng-click="selectIco($index)" ng-class="{'active':$index==selectedIcon}">
                    <i class="fa" ng-class="icon.fa"></i>
                </li>
            </ul>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.controller.js"></script>
</body>
</html>
